html {
    font-family: monospace;
    font-size: 1rem;
    background: #fff7f1;
}

.text-glow {
    text-shadow:
        0 0 4px rgba(255, 255, 255, 1),
        0 0 10px rgba(255, 255, 255, 1),
        0 0 20px rgba(255, 255, 255, 0.8),
        0 0 35px rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.flashbang {
    display: fixed;
    inset: 0;
}
