.background {
  position: fixed;
  top: -25px;
  left: -25px;
  
  height: calc(100% + 50px);
  width: calc(100% + 50px);
  
  background-image: url("http://res.cloudinary.com/mashedpotats/image/upload/v1495156816/github-page-background_yic2jr.jpg");
  background-size: cover;
  
  opacity: 0;
  filter: blur(0);
  
  z-index: 0;
  
  /* animation */
  animation-name: fade-in-then-blur;
  animation-fill-mode: forwards;
  animation-duration: 1000ms;
  animation-delay: 1000ms;
}

@keyframes fade-in-then-blur{
  0% {
    opacity: 0;
    filter: blur(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    filter: blur(10px);
  }
}