:root {
  color: black;
  background-color: #f4f4f4;
  font-family: "Nunito", sans-serif;
  --primary: #FF4385;
}

.root {
  max-width: 28rem;
  margin: 0 auto;
  border-radius: 2rem;
  background: #fff;
  padding: 1rem 4rem 4rem;
}

@layer base {
  button {
    padding: 0.5rem 1rem;
    background: none;
    border: 2px solid white;
    color: black;
    border-radius: 0.375rem;
    font-family: inherit;
    font-weight: 700;

    transition: background-color 200ms;
  }

  button[data-primary] {
    background: var(--primary);
    border-color: var(--primary);
    color: white;
    font-weight: 700;
  }

  button[data-primary]:focus {
    background: var(--primary);
    border-color: var(--primary);
  }

  button[data-secondary] {
    background: #D9D9D9;
    border-color: #D9D9D9;
    color: #3E3E3E;
    font-weight: 500;
  }

  button[data-secondary]:focus,
  button[data-secondary][data-selected~="true"] {
    border-color: var(--primary);
  }

  button:focus,
  button:focus-visible {
    outline: none;
  }

  button:hover {
    /* background-color: #111; */
  }

  .icon-button {
    width: 24px;
    height: 24px;
  }

  .icon-button img {
    width: 24px;
    height: 24px;
  }

  .name-display {
    padding: 0.5rem 1rem;
    background: #ccc;
    color: #333;
    border-radius: 0.25rem;
  }

  input {
    padding: 0.5rem 0.5rem;
    /* background: #222; */
    border: 1px solid #ccc;
    border-radius: 8px;
    /* color: white; */
    font-family: inherit;
  }

  input:focus,
  input:focus-visible {
    outline: 1px solid var(--primary);
  }
}